header, nav{
    height: 9vh;
    width: 100%;
    font-size: 1.125em;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(80px);
    background: #00000025;
    position: fixed;
    top: 0%;
}

.navLogo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navLogo img{
    height: 90px;
    width: 90px;
}

.navCenter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
}

.navCenter a{
    position: relative;
}

.navCenter a:hover{
    color: var(--buttons);
    transition: 0.3s;
}

.navCenter a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 2px;
    background: var(--buttons);
    transition: width 0.3s ease;
}

.navCenter a:hover::after{
    width: 100%;
    border-radius: 100%;
}

.navUser{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 5%;
}

.navUser button{
    display: flex;
    align-items: center;
    background: transparent;
}

.navUser .bi-moon, .bi-sun, .bi-person-circle{
    color: var(--fontes);
    cursor: pointer;
}

.navUser  .bi-moon, .bi-sun{
    font-size: 1.5em;
    margin: 0 1vw;
    cursor: pointer;
}

.navUser .bi-person-circle{
    font-size: 1.75em;
}

.navMenu{
    display: none;
}

.navMenu button{
    background: transparent;
}

.navMenu .bar{
    display: block;
    width: 40px;
    height: 5px;
    background: var(--fontes);
    border-radius: 100px;
    margin: 8px 0;
}

.navMobile{
    display: none;
}

.navMobile button{
    background: transparent;
}

@media screen and (max-width: 768px){

    nav{
        gap: 60%;
    }

    .navCenter{
        display: none;
    }

    .navUser{
        display: none;
    }

    .navMenu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
    }

    .navMenu .theme{
        display: flex;
        align-items: center;
    }

    .navMenu .bi-moon, .bi-sun{
        color: var(--fontes);
        font-size: 1.25em;
        margin: 0 1vw;
    }

    .navMobile.active{
        display: flex;
        align-items: center;
        flex-direction: column;
        background: #00000025;
        backdrop-filter: blur(80px);
        position: fixed;
        top: 9%;
        right: 0;
        height: 100%;
        width: 40%;
    }

    .navMobile .userMobile{
        display: flex;
        align-items: center;
        height: 140px;
        margin-top: 1vh;


    }

    .navMobile .bi-person-circle{
        font-size: 3.5em;
    }


    .navMobile a{
        padding: 25px;
    }
}
