html{
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}


body{
  font-family: 'Outfit', 'SFPro', system-ui;

  color-scheme: light dark;
  position: relative;
  background: var(--bg-Background);
  color: var(--bg-Font);
  line-height: 1.6;
  transition: all 3s ease;


}

.eclipse::before{
  content: "";
  position: fixed;
  height: 800px;
  width: 800px;
  background: var(--bg-Eclipse);
  border-radius: 100%;
  filter: blur(200px);
  top: -35%;
  right: -10%;
  z-index: -1;

}
