.lightTheme{
  background: var(--fundoLight);
  color: var(--fontesLight);

  .eclipse::before{
    background: var(--eclipseLight);
  }

  .btnUser{
    color: var(--fontesLight);
  }

  .card{
    background: var(--cardsLight);
  }

  .textNews p::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(transparent, rgb(222, 222, 222));
  }

  .descricao p::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(transparent, rgb(222, 222, 222));
  }

  .devContainer{
     background: var(--cardsLight);
  }

  .dev{
    color: var(--fontes);
  }

  footer{
    background: var(--cardsLight);
  }
}
