:root{
    --fundo: rgba(0, 0, 0);
    --eclipse: rgba(40, 35, 72);
    --buttons: rgba(133, 117, 241);
    --fontes: rgba(255, 255, 255);
    --cards: rgb(25, 25, 25);

    --fundoLight: #efeced;
    --eclipseLight: #e4d9f7;
    --buttonsLight: rgba(133, 117, 241);
    --fontesLight: #231E40;
    --cardsLight: #dedede;
}
