#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2vh 0;
    padding: 4em 0;
}

.welcome {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
        font-size: clamp(2.85rem, 5vw + 1rem, 4.5rem);
        font-weight: 800;
        color: var(--bg-Button);
    }
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 80%;
    margin-bottom: 5em;

    .efect {
        text-align: center;
        margin: 2vh auto;
    }

}


.games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 80vh;
    width: 100%;
    margin-bottom: 5em;

    h3 {
        margin: 2vh 0;
    }

    .carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 80%;
        margin: 0 auto;

    }

    .carousel-wrapper {
        display: flex;
        height: 60vh;
        width: 100%;
        scroll-snap-type: proximity;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0;
        scrollbar-color: rgb(146, 127, 255) #11ffee00;
        scrollbar-width: thin;
    }

}


.community {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    margin-bottom: 5em;
    width: 80%;

    .efect {
        text-align: center;
        margin: 2vh auto;
    }

    .community-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 4em;
    }
}

.developers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    margin-bottom: 5em;
    width: 80%;
}

@media screen and (max-width: 1024px) {
    .news {
        height: 100%;
        margin-bottom: 5vh;
    }

    .games {
        .carousel {
            width: 80%;

            .carousel-wrapper {
                display: flex;
                align-items: center;
            }
        }
    }

    .community {
        width: 100%;

        .community-wrapper {
            flex: 0 0 100%;
            display: flex;
            gap: 1.5em;
            height: auto;
            width: 100%;
            scroll-snap-type: x mandatory;
            overflow-x: scroll;
            padding: 1rem;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
        }
    }
}

@media screen and (max-width: 640px) {


    .news {
        height: 100%;
        width: 90%;
        margin-bottom: 5vh;
    }

    .games {
        .carousel {
            width: 80%;

            .carousel-wrapper {
                display: flex;
                align-items: center;
                height: 100%;

            }
        }
    }

    .community {
        .community-wrapper {
            flex: 0 0 100%;
            display: flex;
            gap: 4em;
            height: auto;
            width: 100%;
            scroll-snap-type: x mandatory;
            overflow-x: scroll;
            padding: 1rem;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
        }
    }

}
