.btnLink{
    background: var(--buttons);
    color: var(--fontes);
    padding: 12px;
    border-radius: 8px;
    position: absolute;
    bottom: 0;

    &:hover{
        color: var(--fontes);
    }
}
