:root{
    --fundo: rgba(0, 0, 0);
    --eclipse: rgba(40, 35, 72);
    --buttons: rgba(133, 117, 241);
    --fontes: rgba(255, 255, 255);
    --cards: rgb(25, 25, 25);

    --fundoLight: rgb(239, 236, 237);
    --eclipseLight: rgb(228, 217, 247);
    --buttonsLight: rgba(133, 117, 241);
    --fontesLight: rgb(35, 30, 64);
    --cardsLight: rgb(222, 222, 222);
}
