.welcome{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.welcome span{
    font-size: 4em;
    font-weight: 700;
    color: var(--buttons);
}

.news{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

}

.news h2{
    margin: 2vh 0;
}

.games{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}

.games h2{
    margin: 2vh 0;
}

.comunidade{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}

.comunidade h2{
    margin: 2vh 0;
}
