.welcome{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}


.welcome span{
    font-size: 4em;
    font-weight: 700;
    color: var(--buttons);
}

.news{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    height: 90vh;

}

.news h2{
    margin: 2vh 0;
}

.games{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}

.games h2{
    margin: 2vh 0;
}

.comunidade{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}

.comunidade h2{
    margin: 2vh 0;
}

.devs{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.devCard{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--cards);
    width: 70%;
    height: 456px;
    border-radius: 20px;
}

.devCard .textDev{
    display: flex;
    flex-direction: column;
}

.textDev span{
    font-size: 3em;
    font-weight: 600;
}

.devCard .developers{
    display: flex;
    flex-direction: column;
}

.developers a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: var(--buttons);
    height: 55px;
    width: 448px;
    margin: 1vh 0;
}
