.light{
    background-color: var(--bg-Background2);
    color: var(--bg-Font2);

    .eclipse::before{
        background: radial-gradient(circle at center,
                    var(--bg-Eclipse2) 0%,
                    rgba(var(--bg-Eclipse-rgb2), 0.8) 20%,
                    rgba(var(--bg-Eclipse-rgb2), 0.5) 40%,
                    rgba(var(--bg-Eclipse-rgb2), 0.2) 60%,
                    transparent 80%);
    }

    .main-nav{
        .ph-moon-stars, .ph-sun-dim, .bi-person-badge{
            color: var(--bg-Eclipse);
        }

        .nav__menu{
            .nav__menu-button{
                .bar{
                    background-color: var(--bg-Eclipse);
                }
            }
        }
    }



    .card-news, .card-community, .card__dev{
        background-color: var(--bg-Card2);

        .txt-card, .txt-community{
            p::before{
                background: linear-gradient(transparent, rgb(255, 254, 254));
            }

            .actions{
                button{
                    color: var(--bg-Eclipse);
                }
            }
        }
    }

    .card__game{
        p{
            background-color: var(--bg-Button);
        }
    }

    .container__community{
        .left{
            .profile, .sidebar{
                background-color: var(--bg-Card2);
            }
        }

        .middle{
            .pubs{
                background-color: var(--bg-Card2);

                .info-pub{
                    .action-button{
                        i{
                            color: var(--bg-Eclipse);
                        }
                    }
                }
            }
        }

        .right{
            .recommendation{
                background-color: var(--bg-Card2);
            }
        }
    }

    footer{
        background-color: var(--bg-Card2);
        color: var(--bg-Eclipse);
    }

    .footer-head{
        span{
            color: var(--bg-Eclipse);
        }
    }

    .description{
        color: var(--bg-Eclipse);
    }

    .infos{
        .about, .sections, .social{
            p{
                color: var(--bg-Eclipse);
            }
        }
    }







}
