.card-link, .btn-Login{
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    background: var(--bg-Button);
}

.btn-search{
    background: var(--bg-Button);
    border-radius: 100px;
    height: 5vh;
    width: 3vw;
    margin: 0 0.6vw;

}

.btn-post{
    background: var(--bg-Button);
    padding: 0.6em 1.2em;
    border-radius: 100px;
    cursor: pointer;
}

.btn-Login{
    margin: 1vh 0.5vw;
}

@media screen and (max-width: 320px) {
    .btn-post{
       padding: 0.4em 0.4em;
    }
}

@media screen and (max-width: 1024px) {
     .card-link{
        position: absolute;
        bottom: -3em;
        right: 0;
    }
}

@media screen and (max-width: 768px) {
     .card-link{
        position: static;

    }
}

@media screen and (max-width: 480px) {

    .btn-search{
        height: 10vh;
        width: 15vw;
        margin: 0 0.6vw;

    }

    .btn-post{
       padding: 0.4em 0.4em;
    }
}
