.card-link{
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    background: var(--bg-Button);
}

.btn-search{
    background: var(--bg-Button);
    border-radius: 100px;
    height: 5vh;
    width: 2.5vw;
    margin: 0 0.6vw;

}

.btn-post{
    background: var(--bg-Button);
    padding: 0.6em 1.2em;
    border-radius: 100px;
}

@media screen and (max-width: 840px) {
    .card-link{
        position: absolute;
        bottom: -3em;
        right: 0;
    }
}

@media screen and (max-width: 640px){
    .card-link{
        position: static;

    }
}

@media screen and (max-width: 484px) {

}

@media screen and (max-width: 390px) {

}
