.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 80%;
    flex-wrap: wrap;
    margin: 2vh 0;
    height: auto;

}

.card__news{
    width: 369px;
    height: 655px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    background: var(--bg-Card);
    padding: 20px;
    border-radius: 20px;
    text-align: justify;
    z-index: -1;
    margin: 5vh 0;

    .card-img{
        img{
            width: 330px;
            height: 260px;
            border-radius: 18px;
            background: var(--bg-Fonts);
        }
    }

    .card-text{
        margin: 2vh 0 1vh;
        position: relative;

        .date{
            font-size: 1em;
        }

        p{
            margin: 0.5vh 0 3vh;
            height: 190px;
            overflow: hidden;
            position: relative;

            &::before{
                content: "";
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 40px;
                background: linear-gradient(transparent, rgb(25, 25, 25));
            }
        }
    }
}

.card__game {
        flex: 0 0 15%;
        align-items: center;
        margin: 2vh 5vw 2vh 0;
        width: 210px;
        height: 320px;
        background: white;
        border-radius: 10px;
        box-shadow: 0.6em 0.6em 1em var(--bg-Eclipse);
        scroll-snap-align: start;
        z-index: -1;

}

.card__community{
    height: 400px;
    width: 347px;
    border-radius: 20px;
    background: var(--bg-Card);
    padding: 20px;
    z-index: -1;

    .card-user{
        display: flex;
        align-items: center;

        img{
            height: 40px;
            width: 40px;
            border-radius: 100%;
        }

        h3{
            font-weight: 600;
        }
    }

    .card-description{
        display: flex;
        flex-direction: column;
        text-align: justify;
        position: relative;

        h4{
            font-weight: 700;
            margin: 0.5vh 0;
            color: var(--bg-Button);
        }

        p{
            margin: 0.5vh 0 3vh;
            height: 220px;
            overflow: hidden;
            position: relative;

            &::before{
                content: "";
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 40px;
                background: linear-gradient(transparent, rgb(25, 25, 25));
            }
        }

        .card-interact{
            display: flex;
            justify-content: space-around;

            .bi{
                font-size: 1.5em;
                cursor: pointer;

                &:hover{
                    color: var(--bg-Button);
                }
            }
        }
    }

}


@media screen and (max-width: 840px){
    .container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 95%;
    }

    .card__news{
        align-items: flex-start;
        width: 80%;
        height: 320px;
        flex-direction: row;
        margin: 5vh 0;
        z-index: -1;

        .card-img{
            img{
                height: 280px;
                width: 280px;
            }
        }

        .card-text{
            position: relative;

            margin: 0 2vw;

            p{
            margin: 0.5vh 0 3vh;
            height: 130px;
            overflow: hidden;
            position: relative;

            &::before{
                content: "";
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 40px;
                background: linear-gradient(transparent, rgb(25, 25, 25));
            }
        }
        }
    }

    .card__game {
        flex: 0 0 40%;
        margin: 2vh 5vw 2vh 0;
        width: 280px;
        height: 280px;
        align-items: center;
        background: white;
        border-radius: 10px;
        padding: 2em;
        scroll-snap-align: center;
    }

    .card__community{
        flex: 0 0 100%;
        margin: 2vh 5vw 2vh 0;
        width: 347px;
        height: 400px;
        align-items: center;
        border-radius: 20px;
        padding: 2em;
        scroll-snap-align: center;
    }

}

@media screen and (max-width: 640px){
    .container{
        flex-wrap: wrap;
    }

    .card__news{
        flex-direction: column;
        position: relative;
        width: 380px;
        height: 630px;

        .card-img{
            img{
                width: 340px;
                height: 250px;
            }
        }
    }

    .card__game {
        flex: 0 0 90%;
        margin: 2vh 5vw 2vh 0;
        width: 280px;
        height: 280px;
        align-items: center;
        background: white;
        border-radius: 10px;
        padding: 2em;
        scroll-snap-align: center;
    }

    .card__community{
        flex: 0 0 100%;
        margin: 2vh 5vw 2vh 0;
        width: 347px;
        height: 400px;
        align-items: center;
        border-radius: 20px;
        padding: 2em;
        scroll-snap-align: center;
    }
}

@media screen and (max-width: 484px) {
    .container{
        flex-wrap: wrap;
    }

    .card__news{
        flex-direction: column;
        width: 340px;
        height: 620px;

        .card-img{
            img{
                width: 300px;
                height: 250px;
            }
        }
    }

    .card__game {
        flex: 0 0 70%;
        margin: 2vh 5vw 2vh 0;
        width: 280px;
        height: 280px;
        align-items: center;
        background: white;
        border-radius: 10px;
        padding: 2em;
        scroll-snap-align: center;
    }

    .card__community{
        flex: 0 0 100%;
        margin: 2vh 5vw 2vh 0;
        width: 347px;
        height: 400px;
        align-items: center;
        border-radius: 20px;
        padding: 2em;
        scroll-snap-align: center;
    }

}

@media screen and (max-width: 390px) {
    .card__news{
        width: 290px;
        height: 580px;

        .card-img{
            img{
                width: 250px;
                height: 230px;
            }
        }
    }

    .card__game {
        flex: 0 0 90%;
        margin: 2vh 5vw 2vh 0;
        width: 280px;
        height: 280px;
        align-items: center;
        background: white;
        border-radius: 10px;
        padding: 2em;
        scroll-snap-align: center;
    }

    .card__community{
        flex: 0 0 100%;
        margin: 2vh 5vw 2vh 0;
        width: 360px;
        height: 400px;
        align-items: center;
        border-radius: 20px;
        padding: 2em;
        scroll-snap-align: center;
    }
}
