main h2{
    margin: 0.6em 0;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.welcome span{
    font-size: 5em;
    font-weight: 700;
    color: var(--buttons);
}

.news{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 90vh;
}

.games{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

.gamesContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    width: 85%;
}

.gameCard{
    height: 320px;
    height: 300px;
    background: var(--fontes);
}

.gameCard img{
    height: 310px;
    height: 280px;
    border-radius: 20px;
    background: var(--fontes);
}

.community{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.devContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--cards);
    width: 78%;
    height: 500px;
    border-radius: 20px;
}

.textDev{
    display: flex;
    justify-content: right;
    flex-direction: column;
}

.textDev span{
    font-size: 3em;
    font-weight: 700;
    color: var(--buttons);
}

.developers{
    display: flex;
    flex-direction: column;
}


.dev{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5vh 0;
    border-radius: 8px;
    height: 6vh;
    width: 22vw;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    background: var(--buttons);
}
