main{
    position: relative;
    top: 5.4em;
}

.container__community{
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    position: relative;

    .left{
        height: max-content;
        position: sticky;
        top: 5.4em;
        margin-left: 1vw;

        .profile{
            display: flex;
            flex-direction: column;
            align-items: center;
            background: var(--bg-Card);
            border-radius: 20px;
            padding: 20px;

            gap: 1em;

            .user{
                display: flex;
                align-items: center;

                img{
                    height: 40px;
                    width: 40px;
                    border-radius: 100px ;
                }
            }
        }


        .sidebar{
            margin-top: 1em;
            background: var(--bg-Card);
            border-radius: 20px;
            padding: 1em;

            .side-item{
                display: flex;
                align-items: center;
                padding: 20px;
                translate: all 300ms ease;
                position: relative;
                border-radius: 20px;

                img{
                    height: 35px;
                    width: 35px;
                    border-radius: 100px ;
                }

                p{
                    margin-left: 1vw;
                }

                &:hover{
                    background: var(--bg-Eclipse);
                }
            }
        }
    }
}
