.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}

.search input{
    height: 5vh;
    width: 18vw;
    border-radius: 100px;

    &::placeholder{
        font-size: 1.25em;
        font-weight: 500;
        padding: 15px;
        color: var(--fontesLight);
    }
}

.search button{
    height: 5vh;
    width: 2.5vw;
    border-radius: 100%;
    background: var(--buttons);
    margin: 0 0.5vw;
    cursor: pointer;
}

.search .bi-search{
    color: var(--fontes);
    font-size: 1.55em;
}

.news{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 250vh;
}
