header, nav{
    height: 9vh;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(80px);
    position: fixed;
    top: 0%;
    z-index: 100;
}

.navLogo img{
    height: 90px;
    width: 90px;
}

.navCenter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

.navCenter a{
    position: relative;
    color: var(--fontes);
    font-weight: 600;

    &:hover{
        color: var(--buttons);
        transition: 0.3s;
    }
}

.navCenter a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--buttons);
    transition: width 0.3s ease;
}

.navCenter a:hover::after{
    width: 100%;
}

.navUser{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
}

.navUser button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 7vh;
    width: 4vw;
    background: transparent;

}
.navUser .bi-moon, .bi-person-circle, .bi-sun{
    color: var(--fontes);
    font-size: 2.5em;
}

.navMenu{
    display: none;
}
