#news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2vh 0;
    padding: 5em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    .notice {
        .title {
            margin: 0.8em 0 0.3em;
            text-align: justify;
        }

        .date {
            font-size: clamp(0.8rem, 0.8vw + 0.5rem, 1rem);
            text-decoration: underline;
            color: var(--bg-Button);
        }

        .head {
            margin: 1em 0;

            .img {
                width: 80%;
                height: auto;
                object-fit: cover;
                border-radius: 20px;
                margin: 1em auto;
            }
        }

        .txt-notice {
            margin: 1em 0;
            text-align: justify;

            p {
                padding: 0.6em 0;

                a {
                    color: var(--bg-Button);
                    text-decoration: underline;
                }
            }

            blockquote {
                margin: 0 auto;
                width: 90%;
                padding: 0.6em 0;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    #news {
        padding: 5em 0;
    }

    .container {
        width: 80%;

        .head {
            .img {
                width: 100%;
                height: auto;
            }
        }
    }
}
