#plataforms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2vh 0;
    padding: 4em 0;
}

.search-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .search__bar {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1.5vh 0;
        gap: .5em;

        .search {
            border-radius: 100px;
            padding: 0.6em 1.2em;
        }
    }
}

.games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 80vh;
    width: 90%;
    margin-bottom: 5em;

    h3 {
        margin: 2vh 0;
    }

    .carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 90%;
        margin: 0 auto;

    }

    .carousel-wrapper {
        display: flex;
        height: 60vh;
        width: 100%;
        scroll-snap-type: proximity;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0;
        scrollbar-color: rgb(136, 99, 231) #302f2f50;
        scrollbar-width: thin;
    }
}

@media screen and (max-width: 1024px) {
    .games {

        .carousel {
            width: 80%;

            .carousel-wrapper {
                display: flex;
                align-items: center;
            }
        }
    }

}


@media screen and (max-width: 640px) {

    .search-container {
        width: 90%;

        .search__bar {
            .search {
                width: 70%;
            }
        }
    }

    .games {
        .carousel {
            width: 80%;

            .carousel-wrapper {
                display: flex;
                align-items: center;
                height: 100%;
            }
        }
    }
}
