.search__news{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 50vh;


.section-search{
    display: flex;
    align-items: center;
    justify-content: center;

        .bar-search[type="search"]{
            background: var(--bg-Font);
            color: var(--bg-Eclipse);
            height: 5vh;
            border-radius: 100px;
            width: 20vw;
            padding: 20px;

            &::placeholder{
                color: var(--bg-Eclipse);
            }




        }
    }
}

.news{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 90%;
}
