@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

.eclipse::before{
    content: "";
    position: fixed;
    height: 800px;
    width: 800px;
    background: var(--eclipse);
    border-radius: 100%;
    filter: blur(180px);
    top: -30%;
    right: -10%;
    z-index: -1;
}

body{
    font-family: 'Outfit', 'Montserrat', 'Nunito', sans-serif;
    background: var(--fundo);
    color: var(--fontes);
}

h1{
    font-size: 3.75em;
}

h2{
    font-size: 2.75em;
    font-weight: 500;
}

h3{
    font-size: 1.75em;
}

h4{
    font-size: 1.5em;
}

.light{
    font-family: 'Outfit', 'Montserrat', 'Nunito', sans-serif;
    background: var(--fundoLight);
    color: var(--fontesLight);

    .eclipse::before{
        background: var(--eclipseLight);

    }

    .bi-sun, .bi-person-circle{
        color: var(--fontesLight);
    }

    .card{
        background: var(--cardsLight);
    }

    .card .textArea p::before{
        background: linear-gradient(transparent, #f5f6fa);
    }

    .newsCard .cardComunity{
        background-color: var(--cardsLight);
    }

    .cardComunity .textArea p::before{
        background: linear-gradient(transparent, #f5f6fa);
    }

}

@media screen and (max-width: 768px){
    .eclipse::before{
        content: "";
        position: fixed;
        height: 800px;
        width: 800px;
        background: var(--eclipse);
        border-radius: 100%;
        filter: blur(180px);
        top: -40%;
        right: -40%;
        z-index: -1;
    }

}
