/* 1. Modelo de caixa unificado */
*, *::before, *::after {
    box-sizing: border-box;
  }

  /* 2. Zeragem de margens, paddings e espaços */
  html, body, h1, h2, h3, h4, h5, h6,
  p, figure, blockquote, dl, dd, ul, ol, li {
    margin: 0;
    padding: 0;
  }

  /* 3. Altura mínima para body e tipografia básica */
  html {
    font-size: 1.125em;
    line-height: 1.5;

  }
  body {
    min-height: 100vh;
    text-rendering: optimizeLegibility;
  }

  /* 4. Listas sem marcadores e espaçamento */
  ul[class], ol[class] {
    list-style: none;
  }

  /* 5. Links sem sublinhado */
  a {
    text-decoration: none;
    color: inherit;
  }

  /* 6. Elementos multimídia responsivos */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
  }

  button{
    border: none;
  }

  /* 7. Formulários e inputs */
  input, button, textarea, select {
    font: inherit;
    border: none;
    margin: 0;
  }

  /* 8. Quebras de página e citações */
  blockquote, q {
    quotes: none;
  }
  blockquote::before, blockquote::after,
  q::before, q::after {
    content: '';
  }


  /* 10. Media queries helper (exemplo) */
  @media (max-width: var(--breakpoint-sm)) {
    html { font-size: 90%; }
  }
